@import "../node_modules/bootstrap/scss/functions";

$enable-cssgrid: true;

@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons";

label:has(+ :required)::after,
label:has(+ div > :required)::after {
  content: " *";
}
