@use "bootstrap/scss/bootstrap" as bs with (
  $enable-shadows: true,
  $enable-cssgrid: true
);
@use "../node_modules/bootstrap-icons/font/bootstrap-icons";

label:has(+ :required)::after,
label:has(+ div > :required)::after {
  content: " *";
  color: red;
}
